# Python
__pycache__/
*.pyc
*.pyo

# Jupyter (if used)
.ipynb_checkpoints

# Virtual env
venv/
.env

# Logs and junk
*.log
*.DS_Store

# Model files
*.pt
*.pth

# Plot files (optional)
*.png
*.jpg
*.svg
*.html
